<div class="container main-container">
  <h3>Are you sure you want to delete the contractor {{ contractor.name }}?</h3>
  <hr />

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3 id="msgRetorno">Oops! Something went wrong:</h3>
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <dl class="row">
    <dt class="col-sm-2">
      <label class="control-label">Name</label>
    </dt>
    <dd class="col-sm-10">
      {{ contractor.name }}
    </dd>
    <dt class="col-sm-2">
      <label class="control-label">Document</label>
    </dt>
    <dt class="col-sm-2">
      <label class="control-label">Active</label>
    </dt>
    <dd class="col-sm-10">
      <input
        [checked]="contractor.active"
        class="check-box"
        disabled="disabled"
        type="checkbox"
      />
    </dd>
  </dl>

  <div class="row">
    <br />
  </div>

  <div>
    <a class="btn btn-danger" href="javascript:void(0)" (click)="deleteEvent()"
      >Delete</a
    >&nbsp;
    <a class="btn btn-info" [routerLink]="['/contractors/list-all']">Back</a>
  </div>
</div>
